@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }


  /* shared - style*/
.display-flex{
    display: flex;
}

/* dark-02 */
.text-gray{
    color: #424242;
}

.dark-03{
    color: rgb(114, 114, 114);
}

.dark-02{
    color: rgb(66, 66, 66);
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.10);
}

.bnt-primary{
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 5px;
    color: white;
    background-color: rgb(255, 144, 14);
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

.section-title{
    font-weight: 700;
    font-size: 2.8rem;
}
/* header - style */


/* navbar - style */
.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-weight: 700;
    font-size: 3rem;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related style */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
}

.banner-description{
    font-weight: 400;
    font-size: 1rem;
}

.banner-image{
    margin-bottom: 45px;
    width: 100%;
}

.banner{
    margin-bottom: 85px;
}

/* main- fetures - section - related - style */
.images-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.teams{
    align-items: center;
}
.teams-container{
    margin-left: 100px;
    max-width:  535px;
}

.Quick-list{
    font-weight: 500;
    font-size: 2.8rem;
}

#of-our{
    font-weight: 700;
    font-size: 2.8rem;
}

#features-orange{
    font-weight: 700;
    font-size: 2.8rem;
    color: rgb(255, 144, 14);
}

.teams-description{
    margin-top: 24px;
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 1rem;
}

/* Features section related style */
.features-section{
    margin-top: 120px;
    gap: 140px;
}

#features-pad{
    border-left: 5px solid #FF900E;
    padding: 21px;
}

.features-title{
    font-weight: 700;
    font-size: 2.8rem;
    margin-top: 5px;
}

.features-description{
    font-weight: 400;
    font-size: 1rem;
    margin-top: 24px;
    margin-bottom: 25px;
}

.features-card .card-title{
    font-weight: 600;
    font-size: 1.25rem;
}

.features-card .card-description{
    font-weight: 400;
    font-size: 1rem;
}

.features-card{
    padding: 17px;
    border: 1px solid white;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}
#experience-badge{
    font-weight: 500;
    font-size: 1.5rem;
    padding: 45px 42px;
    margin-left: -92px;
    margin-top: -77px;
}

#experience-years{
    font-weight: 700;
    font-size: 4.05rem;
}

.features-architect img{
    width: 100%;
}

/* Some facts section related style */
.facts-section{
    margin-top: 130px;
}
.facts-description{
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 100px;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.facts-number{
    font-weight: 600;
    font-size: 2.8rem;
    margin-top: 10px;
    margin-bottom: 5px;
}

.facts-name{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;
}

/* Sponsors section related style */
.sponsors-section{
    margin-top: 130px;
}

.sponsors-info{
    margin: 0 auto;
    max-width: 542px;
    text-align: center;
}
.sponsors-title{
    font-weight: 700;
    font-size: 2.8rem;
}
.sponsors-description{
    font-weight: 500;
    font-size: 1rem;
}

.sponsors-companies{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    filter: grayscale(100%);
}

/* footer section related style */
.footer-section{
    font-weight: 400;
    font-size: 1rem;
    width: 1440px;
    margin: 0 auto;
    margin-top: 130px;
    padding: 30px;
    border: 1px solid #FFF4E7;
    border-radius: 8px;
    align-items: center;
    text-align: center;
    background-color: #FFF4E7;
}
  
/* Responsive Related style */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links, 
    .teams,
    .features-section{
        flex-direction: column;
    }

    .images-container, 
    .facts-container,
    .sponsors-companies{
        grid-template-columns: repeat(1, 1fr);
    } 

    .facts-container{
        justify-items: center;
        gap: 24px;
    }

    .sponsors-companies{
        justify-items: center;
        gap: 40px;
    }

    .teams-container{
        margin: 25px auto;
    }

    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;

    }

    .footer-section{
        width: 90%;
    }
}


/* for medium device responsive */
@media screen and (min-width: 576px) and (max-width:992px){
    .teams, .features-section{
        flex-direction: column;
    }

    .facts-container{
        grid-template-columns: repeat(2, 1fr);
        margin-left: 14%;
        gap: 24px;
    }

    .sponsors-companies{
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }

    #experience-badge{
        margin-top: 20px;
        margin-left: 50px;

    }
    .footer-section{
        width: 90%;
    }
}